@font-face {
  font-family: "Radikal";
  font-weight: 400;
  src: url("../css/fonts/Radikal Regular/605c1c612570275f24508913462da771.eot");
  /* IE9*/
  src: url("../css/fonts/Radikal Regular/605c1c612570275f24508913462da771.eot?#iefix") format("embedded-opentype"), url("../css/fonts/Radikal Regular/605c1c612570275f24508913462da771.woff2") format("woff2"), url("../css/fonts/Radikal Regular/605c1c612570275f24508913462da771.woff") format("woff"), url("../css/fonts/Radikal Regular/605c1c612570275f24508913462da771.ttf") format("truetype"), url("../css/fonts/Radikal Regular/605c1c612570275f24508913462da771.svg#Radikal W03 Regular") format("svg");
  /* iOS 4.1- */ }

@font-face {
  font-family: "Radikal Black";
  src: url("../css/fonts/Radikal Black/f53745fa52b34296bb2a2517fcc641b3.eot");
  /* IE9*/
  src: url("../css/fonts/Radikal Black/f53745fa52b34296bb2a2517fcc641b3.eot?#iefix") format("embedded-opentype"), url("../css/fonts/Radikal Black/f53745fa52b34296bb2a2517fcc641b3.woff2") format("woff2"), url("../css/fonts/Radikal Black/f53745fa52b34296bb2a2517fcc641b3.woff") format("woff"), url("../css/fonts/Radikal Black/f53745fa52b34296bb2a2517fcc641b3.ttf") format("truetype"), url("../css/fonts/Radikal Black/f53745fa52b34296bb2a2517fcc641b3.svg#Radikal W03 Black") format("svg");
  /* iOS 4.1- */ }

.works {
  transition: all 0.8s ease-in; }
  .works[data-emergence="hidden"] {
    visibility: hidden;
    opacity: 0; }
  .works[data-emergence="visible"] {
    visibility: visible;
    opacity: 1; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #000000;
  color: #f7f7f7; }

::selection {
  background-color: #e6eef9; }

body {
  box-sizing: border-box;
  font-family: "Radikal", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.6rem; }

.h1 {
  font-size: 9rem;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Radikal", Helvetica, Arial, sans-serif; }

.h2 {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Radikal", Helvetica, Arial, sans-serif; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-s {
  margin-top: 1.5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-s {
      margin-top: 1rem !important; } }

.u-margin-top-m {
  margin-top: 3rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-m {
      margin-top: 2rem !important; } }

.u-margin-top-l {
  margin-top: 6rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-l {
      margin-top: 4rem !important; } }

.u-margin-top-xl {
  margin-top: 9rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-xl {
      margin-top: 6rem !important; } }

.u-margin-top-xxl {
  margin-top: 12rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-xxl {
      margin-top: 8rem !important; } }

.u-margin-bottom-s {
  margin-bottom: 1.5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-s {
      margin-top: 1rem !important; } }

.u-margin-bottom-m {
  margin-bottom: 3rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-m {
      margin-top: 2rem !important; } }

.u-margin-bottom-l {
  margin-bottom: 6rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-l {
      margin-top: 4rem !important; } }

.u-margin-bottom-xl {
  margin-bottom: 9rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-xl {
      margin-top: 6rem !important; } }

.u-margin-bottom-xxl {
  margin-bottom: 12rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-xxl {
      margin-top: 8rem !important; } }

.row {
  max-width: 94rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 2.5rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row [class^="col-"] {
    float: left;
    padding: 20px 0; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * (100% - 2 * 6rem) / 3 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * (100% - 3 * 6rem) / 4 + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * (100% - 3 * 6rem) / 4 + 6rem * 2); }

.main-nav {
  position: fixed;
  top: 8rem;
  right: 10%;
  z-index: 10000;
  cursor: default; }
  .main-nav__item {
    color: #3b3b3b;
    font-size: 1.8rem;
    line-height: 1.2;
    text-decoration: none;
    display: inline-block;
    position: relative;
    cursor: pointer; }
    .main-nav__item:after {
      content: attr(data-hover);
      position: absolute;
      left: 0;
      top: 0;
      font-size: 1.8rem;
      line-height: 1.2;
      color: #f7f7f7;
      width: 0;
      overflow: hidden;
      white-space: nowrap;
      transition: .3s ease-out width; }
    .main-nav__item:hover:after {
      width: 100%;
      transition: .3s ease-in width; }
    .main-nav__item:not(:last-child) {
      margin-right: 4rem; }
  .main-nav__item.active {
    color: #f7f7f7; }

.loader {
  position: fixed;
  z-index: 10001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000; }

.loader.hidden {
  animation: loaderFadeOut 1.5s;
  animation-fill-mode: forwards; }

.loader__element {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 30rem; }
  .loader__element:before, .loader__element:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    filter: drop-shadow(0 0 0.66667rem rgba(247, 247, 247, 0.75)); }
  .loader__element:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1.5rem #f7f7f7;
    animation-name: pulsA; }
  .loader__element:after {
    width: calc(100% - 1.5rem*2);
    padding-bottom: calc(100% - 1.5rem*2);
    box-shadow: 0 0 0 0 #f7f7f7;
    animation-name: pulsB; }

@keyframes pulsA {
  0% {
    box-shadow: inset 0 0 0 1.5rem #f7f7f7;
    opacity: 1; }
  50%,
  100% {
    box-shadow: inset 0 0 0 0 #f7f7f7;
    opacity: 0; } }

@keyframes pulsB {
  0%,
  50% {
    box-shadow: 0 0 0 0 #f7f7f7;
    opacity: 0; }
  100% {
    box-shadow: 0 0 0 1.5rem #f7f7f7;
    opacity: 1; } }

@keyframes loaderFadeOut {
  100% {
    opacity: 0;
    visibility: hidden; } }

.banner {
  margin-top: 4rem; }

.bnr__imgrev img {
  width: 100%; }

.bnr__imgrev::before {
  content: "";
  background: #000000;
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: 5; }

.bnr {
  position: relative;
  height: 100vh; }
  .bnr h1 {
    line-height: 110%;
    font-size: 6vw; }
  .bnr__text {
    position: relative;
    transform: translate(0, 50vh);
    height: inherit;
    font-family: "Radikal Black", "Radikal", Helvetica, Arial, sans-serif;
    line-height: 110%;
    font-size: 5vw; }
    .bnr__text > div {
      position: absolute; }
    .bnr__text > .no-out h1 {
      -webkit-text-stroke: 0 #f7f7f7;
      text-stroke: 0 #f7f7f7;
      color: #f7f7f7; }
    .bnr__text img {
      width: 39vw;
      margin: auto; }
  .bnr__img {
    width: 35%;
    height: 80%;
    position: relative;
    margin-left: 55%;
    z-index: 2;
    margin-top: -50vh;
    border-radius: 20px;
    overflow: hidden;
    animation: glow 6s infinite ease-in-out;
    transition: 2s ease; }
    .bnr__img > div {
      position: absolute;
      top: 8%;
      left: -5%;
      width: 50%; }
    .bnr__img > div img {
      transition: none; }
    .bnr__img img {
      z-index: 3; }
  .bnr__outline {
    -webkit-text-stroke: 0.01em #f7f7f7;
    text-stroke: 0.01em #f7f7f7;
    color: transparent; }

@keyframes glow {
  0% {
    box-shadow: 0 0 1.5rem 0 rgba(255, 255, 255, 0.95); }
  50% {
    box-shadow: 0 -1rem 4rem 0 rgba(219, 219, 219, 0.55); }
  100% {
    box-shadow: 0 0 1.5rem 0px rgba(255, 255, 255, 0.95); } }

:root {
  --primary-color: #185ee0;
  --secondary-color: #e6eef9; }

.tabs {
  position: relative;
  display: flex;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  border-radius: 99px; }
  .tabs * {
    z-index: 2; }
  .tabs input[type="radio"] {
    display: none; }
    .tabs input[type="radio"]:checked + label {
      color: var(--primary-color); }
      .tabs input[type="radio"]:checked + label > .notification {
        background-color: var(--primary-color);
        color: #fff; }
  .tabs .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 20%;
    font-size: 1.25rem;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in; }
  .tabs .notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: 0.75rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    transition: 0.15s ease-in; }
  .tabs .glider {
    position: absolute;
    display: flex;
    height: 5rem;
    width: 20%;
    background-color: var(--secondary-color);
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out; }
  .tabs input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0); }
  .tabs input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%); }
  .tabs input[id="radio-3"]:checked ~ .glider {
    transform: translateX(200%); }
  .tabs input[id="radio-4"]:checked ~ .glider {
    transform: translateX(300%); }
  .tabs input[id="radio-5"]:checked ~ .glider {
    transform: translateX(400%); }

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6); } }

.header {
  max-width: 114rem;
  margin: 0 auto; }
  .header::after {
    content: "";
    display: table;
    clear: both; }

.hero {
  position: relative;
  height: 100vh; }
  .hero__intro {
    position: absolute;
    top: 35%; }
  .hero__scroll-to {
    position: absolute;
    bottom: 10%;
    left: 6%;
    color: #3b3b3b;
    font-size: 1.6rem;
    cursor: default; }
    .hero__scroll-to img {
      height: 1.8rem;
      margin-right: 10px;
      -webkit-transform: translateY(2px);
      transform: translateY(2px); }

.works {
  position: relative;
  z-index: 1;
  transition: 0.8s ease-in;
  background-color: #f7f7f7;
  color: #000000; }
  .works__fill {
    position: absolute;
    background-color: #f7f7f7;
    width: 100%;
    height: 500rem;
    top: -499.9rem;
    left: 0;
    z-index: 0; }
