*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #000000; }

body {
  box-sizing: border-box;
  font-family: "Radikal", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.6rem; }

.h1 {
  font-size: 9rem;
  line-height: 1.2;
  font-weight: 400;
  color: #f7f7f7;
  font-family: "Radikal", Helvetica, Arial, sans-serif; }

@font-face {
  font-family: "Radikal";
  font-weight: 400;
  src: url("../fonts/Radikal Regular/605c1c612570275f24508913462da771.eot");
  /* IE9*/
  src: url("../fonts/Radikal Regular/605c1c612570275f24508913462da771.eot?#iefix") format("embedded-opentype"), url("../fonts/Radikal Regular/605c1c612570275f24508913462da771.woff2") format("woff2"), url("../fonts/Radikal Regular/605c1c612570275f24508913462da771.woff") format("woff"), url("../fonts/Radikal Regular/605c1c612570275f24508913462da771.ttf") format("truetype"), url("../fonts/Radikal Regular/605c1c612570275f24508913462da771.svg#Radikal W03 Regular") format("svg");
  /* iOS 4.1- */ }

@font-face {
  font-family: "Radikal Black";
  src: url("../fonts/Radikal Black/f53745fa52b34296bb2a2517fcc641b3.eot");
  /* IE9*/
  src: url("../fonts/Radikal Black/f53745fa52b34296bb2a2517fcc641b3.eot?#iefix") format("embedded-opentype"), url("../fonts/Radikal Black/f53745fa52b34296bb2a2517fcc641b3.woff2") format("woff2"), url("../fonts/Radikal Black/f53745fa52b34296bb2a2517fcc641b3.woff") format("woff"), url("../fonts/Radikal Black/f53745fa52b34296bb2a2517fcc641b3.ttf") format("truetype"), url("../fonts/Radikal Black/f53745fa52b34296bb2a2517fcc641b3.svg#Radikal W03 Black") format("svg");
  /* iOS 4.1- */ }

.u-center-text {
  text-align: center !important; }

.u-margin-top-s {
  margin-top: 1.5rem !important; }

.u-margin-top-m {
  margin-top: 3rem !important; }

.u-margin-top-l {
  margin-top: 6rem !important; }

.u-margin-top-xl {
  margin-top: 9rem !important; }

.u-margin-top-xxl {
  margin-top: 12rem !important; }

.u-margin-bottom-s {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-m {
  margin-bottom: 3rem !important; }

.u-margin-bottom-l {
  margin-bottom: 6rem !important; }

.u-margin-bottom-xl {
  margin-bottom: 9rem !important; }

.u-margin-bottom-xxl {
  margin-bottom: 12rem !important; }

.row {
  max-width: 94rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left;
    padding: 20px 0; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * (100% - 3 * 6rem) / 4 + 6rem * 2); }

.main-nav {
  position: fixed;
  top: 8rem;
  right: 10%;
  z-index: 10000;
  cursor: default; }
  .main-nav__item {
    color: #3b3b3b;
    font-size: 1.8rem;
    line-height: 1.2;
    text-decoration: none;
    display: inline-block;
    position: relative;
    cursor: pointer; }
    .main-nav__item:after {
      content: attr(data-hover);
      position: absolute;
      left: 0;
      top: 0;
      font-size: 1.8rem;
      line-height: 1.2;
      color: #f7f7f7;
      width: 0;
      overflow: hidden;
      white-space: nowrap;
      transition: .3s ease-out width; }
    .main-nav__item:hover:after {
      width: 100%;
      transition: .3s ease-in width; }
    .main-nav__item:not(:last-child) {
      margin-right: 4rem; }
  .main-nav__item.active {
    color: #f7f7f7; }

.loader {
  position: fixed;
  z-index: 10001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000; }

.loader.hidden {
  animation: loaderFadeOut 1.5s;
  animation-fill-mode: forwards; }

.loader__element {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 30rem; }
  .loader__element:before, .loader__element:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    filter: drop-shadow(0 0 0.66667rem rgba(247, 247, 247, 0.75)); }
  .loader__element:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1.5rem #f7f7f7;
    animation-name: pulsA; }
  .loader__element:after {
    width: calc(100% - 1.5rem*2);
    padding-bottom: calc(100% - 1.5rem*2);
    box-shadow: 0 0 0 0 #f7f7f7;
    animation-name: pulsB; }

@keyframes pulsA {
  0% {
    box-shadow: inset 0 0 0 1.5rem #f7f7f7;
    opacity: 1; }
  50%,
  100% {
    box-shadow: inset 0 0 0 0 #f7f7f7;
    opacity: 0; } }

@keyframes pulsB {
  0%,
  50% {
    box-shadow: 0 0 0 0 #f7f7f7;
    opacity: 0; }
  100% {
    box-shadow: 0 0 0 1.5rem #f7f7f7;
    opacity: 1; } }

@keyframes loaderFadeOut {
  100% {
    opacity: 0;
    visibility: hidden; } }

.outline {
  -webkit-text-stroke: 0.01em #f7f7f7;
  /*#4bbfda*/
  text-stroke: 1px #f7f7f7;
  color: transparent; }

.imgrev img {
  width: 100%; }

.imgrev::before {
  content: "";
  background: #000000;
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: 5; }

.bnr {
  position: relative;
  height: 100vh; }

.bnr_t {
  position: relative;
  transform: translate(0, 55vh);
  height: inherit;
  font-family: "Radikal Black", "Radikal", Helvetica, Arial, sans-serif;
  line-height: 110%;
  font-size: 5vw; }

.bnr_t > div {
  position: absolute; }

.bnr_t > .no-out h1 {
  -webkit-text-stroke: 0 #f7f7f7;
  text-stroke: 0 #f7f7f7;
  color: #f7f7f7; }

.bnr_t img {
  width: 39vw;
  margin: auto; }

.bnr_img {
  width: 35%;
  height: 90%;
  position: relative;
  margin-left: 55%;
  z-index: 2;
  margin-top: -4%;
  border-radius: 20px;
  overflow: hidden; }

.bnr_img > div {
  position: absolute;
  top: 8%;
  left: -5%;
  width: 50%; }

.bnr_img > div img {
  transition: none; }

.bnr_img img {
  z-index: 3; }

@media only screen and (min-width: 1140px) {
  .bnr_t {
    transform: translate(0, 30vh); }
  .bnr h1 {
    line-height: 110%;
    font-size: 6vw; }
  .bnr_img {
    margin-top: -10%; } }

.header {
  max-width: 114rem;
  margin: 0 auto; }
  .header::after {
    content: "";
    display: table;
    clear: both; }

.hero {
  position: relative;
  height: 100vh; }
  .hero__intro {
    position: absolute;
    top: 35%; }
  .hero__scroll-to {
    position: absolute;
    bottom: 10%;
    left: 6%;
    color: #3b3b3b;
    font-size: 1.6rem;
    cursor: default; }
    .hero__scroll-to img {
      height: 1.8rem;
      margin-right: 10px;
      -webkit-transform: translateY(2px);
      transform: translateY(2px); }
