*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #000000; }

body {
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.4; }

.h1 {
  font-size: 9rem;
  line-height: 1.2;
  font-weight: 400;
  color: #f7f7f7;
  font-family: "Radikal", Helvetica, Arial, sans-serif; }

@font-face {
  font-family: "Radikal";
  font-weight: 400;
  src: url("../fonts/Radikal Regular/605c1c612570275f24508913462da771.eot");
  /* IE9*/
  src: url("../fonts/Radikal Regular/605c1c612570275f24508913462da771.eot?#iefix") format("embedded-opentype"), url("../fonts/Radikal Regular/605c1c612570275f24508913462da771.woff2") format("woff2"), url("../fonts/Radikal Regular/605c1c612570275f24508913462da771.woff") format("woff"), url("../fonts/Radikal Regular/605c1c612570275f24508913462da771.ttf") format("truetype"), url("../fonts/Radikal Regular/605c1c612570275f24508913462da771.svg#Radikal W03 Regular") format("svg");
  /* iOS 4.1- */ }

.u-center-text {
  text-align: center !important; }

.u-margin-top-s {
  margin-top: 1.5rem !important; }

.u-margin-top-m {
  margin-top: 3rem !important; }

.u-margin-top-l {
  margin-top: 6rem !important; }

.u-margin-top-xl {
  margin-top: 9rem !important; }

.u-margin-top-xxl {
  margin-top: 12rem !important; }

.u-margin-bottom-s {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-m {
  margin-bottom: 3rem !important; }

.u-margin-bottom-l {
  margin-bottom: 6rem !important; }

.u-margin-bottom-xl {
  margin-bottom: 9rem !important; }

.u-margin-bottom-xxl {
  margin-bottom: 12rem !important; }

.hero__intro {
  margin-top: 32%;
  margin-bottom: 180px; }

.row {
  max-width: 94rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left;
    padding: 20px 0; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * (100% - 3 * 6rem) / 4 + 6rem * 2); }
