// Colors
$color1: #55c57a;
$color1-light: #7ed56f;
$color1-dark: #28b485;

$color-w: #f7f7f7;
$color-b: #000000;

$color-grey: #3b3b3b;

// grids
$grid-width: 94rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;