// Colors

$color-w: #f7f7f7;
$color-b: #000000;

$color-grey: #3b3b3b;

$gradient-b: linear-gradient(to right, #434343, #000000);

$primary-color: rgb(204, 204, 204);
$secondary-color: rgba(177, 177, 177, 0.5);

// grids
$grid-width: 94rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
