@import "../css/ionicons.css";

@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/font-face";
@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utils";
@import "base/grids";

@import "components/main-nav";
@import "components/loader";
@import "components/banner";
@import "components/tabs";
@import "components/card";

@import "layout/header";
@import "layout/footer";

@import "pages/home";
