$img-url: "../img/works/scroll.jpg";

.card {
  display: inline-block;
  position: relative;
  box-shadow: 0 1rem 2rem rgba($color-b, 0.4);
  border-radius: 15px;
  width: 500px;
  height: 200px;
  overflow: hidden;
  background-color: $color-w;
  margin-bottom: 1rem;
  transition: all 0.4s ease-in;

  i {
    opacity: 0;
    font-size: 18px;
    color: $color-w;
    will-change: transform;
    transition: all 0.3s ease-in;
  }

  &__title {
    display: block;
    z-index: 99;
    position: absolute;
    bottom: 1rem;
    pointer-events: none;
    right: 110px;
    font-size: 3.5rem;
    font-family: "Radikal Black", "Radikal", Helvetica, Arial, sans-serif;
    color: #fff;
  }

  &__arrow {
    z-index: 100;
    position: absolute;
    right: 2rem;
    bottom: 1.4rem;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease-in;
  }

  &__cta {
    z-index: 100;
    position: absolute;
    color: $color-w;
    right: 5rem;
    bottom: 1.65rem;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0;
    transition: 0.4s ease-in;
  }

  &__category {
    z-index: 99;
    position: absolute;
    top: 20px;
    right: 70px;
    color: #333;
    opacity: 0.7;
    font-size: 12px;
    writing-mode: vertical-lr;
    transition: all 0.4s ease-in;
  }

  &__pic {
    z-index: 100;
    width: 40rem;
    height: 20rem;
    background-image: url($img-url);
    background-size: 100% 100%;
    filter: grayscale(100%);
    transition: all 0.4s ease-in;
  }

  &__social {
    position: absolute;
    left: 135px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 180px;
    height: 64px;
    border-radius: 80px;

    i span {
      font-family: "Radikal", Helvetica, Arial, sans-serif;
      font-style: normal;
    }
  }

  &__social i:nth-of-type(1) {
    transition: opacity 0.4s ease-in;
  }

  &:hover {
    box-shadow: 0 1.5rem 3rem rgba($color-b, 0.6);
  }

  &:hover i {
    opacity: 1;
  }

  &__button {
    // display: block;
    position: absolute;
    right: 1.2rem;
    bottom: 1.2rem;
    width: 3rem;
    height: 3rem;
    background: $color-b;
    background: $gradient-b;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-in;

    i {
      font-size: 3rem;
    }
  }

  &:hover .card__button {
    transform: scale(15);
  }

  &:hover .card__cta {
    opacity: 1;
  }

  &:hover .card__category {
    color: #fff;
  }

  &:hover .card__pic {
    filter: grayscale(0) brightness(100%);
  }
}
