:root {
  --primary-color: #185ee0;
  --secondary-color: #e6eef9;
}

.tabs {
  position: relative;
  display: flex;

  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);

  border-radius: 99px; // just a high number to create pill effect

  * {
    z-index: 2;
  }

  & input[type="radio"] {
    display: none;

    &:checked {
      &+label {
        color: var(--primary-color);

        &>.notification {
          background-color: var(--primary-color);
          color: #fff;
        }
      }

    }
  }

  & .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 20%;
    font-size: 1.25rem;
    border-radius: 99px; // just a high number to create pill effect
    cursor: pointer;
    transition: color 0.15s ease-in;
  }

  & .notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: 0.75rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    transition: 0.15s ease-in;
  }


  & .glider {
    position: absolute;
    display: flex;
    height: 5rem;
    width: 20%;

    background-color: var(--secondary-color);
    z-index: 1;
    border-radius: 99px; // just a high number to create pill effect
    transition: 0.25s ease-out;
  }

  & input[id="radio-1"] {
    &:checked {
      &~.glider {
        transform: translateX(0);
      }
    }
  }

  & input[id="radio-2"] {
    &:checked {
      &~.glider {
        transform: translateX(100%);
      }
    }
  }

  & input[id="radio-3"] {
    &:checked {
      &~.glider {
        transform: translateX(200%);
      }
    }
  }

  & input[id="radio-4"] {
    &:checked {
      &~.glider {
        transform: translateX(300%);
      }
    }
  }

  & input[id="radio-5"] {
    &:checked {
      &~.glider {
        transform: translateX(400%);
      }
    }
  }
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}