.tabs {
  &__labels {
    position: relative;
    display: flex;

    background-color: $color-w;
    box-shadow: 0 0 1px 0 rgba($color-b, 0.35),
      0 6px 12px 0 rgba($color-b, 0.35);

    border-radius: 99px;
  }

  * {
    z-index: 2;
  }

  & input[type="radio"] {
    display: none;
  }

  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 20%;
    font-size: 1.25rem;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
  }

  &__icon {
    font-size: 2rem;
    margin-left: 1rem;
  }

  & .glider {
    position: absolute;
    display: flex;
    height: 5rem;
    width: 20%;
    background: $color-b;
    background: $gradient-b;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
  }
}

.tabs__content {
  &__1,
  &__2,
  &__3,
  &__4,
  &__5 {
    @include hidden;
    position: absolute;
    transition: opacity 0.5s;
  }
}

// Logic here

.tabs input[id="radio-1"]:checked {
  & ~ .tabs__labels .glider {
    transform: translateX(0);
  }
  & ~ .tabs__content .tabs__content__1 {
    @include visible;
    position: relative;
  }
  & ~ .tabs__labels .tabs__tab--1 {
    color: $color-w;
  }
}

.tabs input[id="radio-2"]:checked {
  & ~ .tabs__labels .glider {
    transform: translateX(100%);
  }
  & ~ .tabs__content .tabs__content__2 {
    @include visible;
    position: relative;
  }
  & ~ .tabs__labels .tabs__tab--2 {
    color: $color-w;
  }
}

.tabs input[id="radio-3"]:checked {
  & ~ .tabs__labels .glider {
    transform: translateX(200%);
  }
  & ~ .tabs__content .tabs__content__3 {
    @include visible;
    position: relative;
  }
  & ~ .tabs__labels .tabs__tab--3 {
    color: $color-w;
  }
}

.tabs input[id="radio-4"]:checked {
  & ~ .tabs__labels .glider {
    transform: translateX(300%);
  }
  & ~ .tabs__content .tabs__content__4 {
    @include visible;
    position: relative;
  }
  & ~ .tabs__labels .tabs__tab--4 {
    color: $color-w;
  }
}
.tabs input[id="radio-5"]:checked {
  & ~ .tabs__labels .glider {
    transform: translateX(400%);
  }
  & ~ .tabs__content .tabs__content__5 {
    @include visible;
    position: relative;
  }
  & ~ .tabs__labels .tabs__tab--5 {
    color: $color-w;
  }
}
