.fade-in-bottom {
  transition: all 2s ease;

  &[data-emergence="hidden"] {
    @include hidden;
    margin-top: 10rem;
  }

  &[data-emergence="visible"] {
    @include visible;
    margin-top: 0rem;
  }
}