body {
  box-sizing: border-box;
  font-family: "Radikal", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
}

.h1 {
  font-size: 9rem;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Radikal", Helvetica, Arial, sans-serif;
}

.h2 {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Radikal", Helvetica, Arial, sans-serif;
}

.h3 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Radikal", Helvetica, Arial, sans-serif;
}