.hero {
  position: relative;
  height: 100vh;

  &__intro {
    position: absolute;
    top: 35%;
  }

  &__scroll-to {
    position: absolute;
    bottom: 10%;
    left: 6%;
    color: $color-grey;
    font-size: 1.6rem;

    cursor: default;

    & img {
      height: 1.8rem;
      margin-right: 10px;
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
  }
}

.works {
  position: relative;
  z-index: 1;

  &__fill {
    position: absolute;
    background-color: $color-w;
    width: 100%;
    height: 500rem;
    top: -499.9rem;
    left: 0;
    z-index: 0;
  }

  transition: 0.8s ease-in;
  background-color: $color-w;
  color: $color-b;
}